@media (max-width: 599px) {
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 24px;
  }
  .button {
    font-size: 24px;
  }
  .button__generate input {
    font-size: 24px;
  }
  .logo {
    margin-bottom: 30px;
    width: 330px;
    word-break: break-all;
  }
  .area__message {
    width: 97%;
  }
}