@media (max-width: 599px) {
  .content {
    margin-top: 0;
  }
  .content p {
    margin: 15px 0;
  }
  .content .logo h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
  }
  textarea {
    width: 97%;
    padding: 0;
    border: none;
  }
}
@media (max-width: 430px) {
  .btn {
    font-size: 25px;
  }
}