<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover">
    <title>TechnoChat</title>
    <meta name="theme-color" content="#dddddd">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/lib/emojione.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo">
                <h1><a href="/">Technochat</a></h1>
            </div>
        </div>
        <div class="main" id="app">
            <div v-if="okconnected" class="chat_shell">
                <div class="chat_content">
                    <div id="chat-messages" class="chat_messages" v-html="chatContent"></div>
                </div>
                <div class="message_input">
                    <div class="message_input_inner group">
                        <input
                            type="text"
                            v-model="newMsg"
                            @keyup.enter="send"
                            placeholder="Write a message"
                        >
                        <span class="bar"></span>
                        <button class="chat_button" @click="send" aria-label="Send message">
                            <i class="material-icons">send</i>
                        </button>
                    </div>
                </div>
            </div>
            <div v-if="!okconnected" class="chat_error">
                Poshel nah
            </div>
        </div>
    </div>
    <script src="/js/lib/vue.min.js"></script>
    <script src="/js/lib/emojione.min.js"></script>
    <script src="/js/lib/jquery-3.6.0.min.js"></script>
    <script src="/js/lib/md5.js"></script>
    <script src="/js/lib/materialize.min.js"></script>
    <script src="/js/lib/PageTitleNotification.js"></script>
    <script src="/js/pwa.js"></script>
    <script src="/js/chat/chat.js"></script>
</body>
</html>
