<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TechnoChat</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="/css/lib/material_icons.css">
    <link rel="stylesheet" href="/css/lib/emojione.min.css"/>
    <link rel="stylesheet" href="/css/chat.css">

</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo right">TechnoChat</a>
            </div>
        </nav>
    </header>
    <main id="app">
        <div v-if="okconnected">
            <div class="row">
                <div class="col s12">
                    <div class="card horizontal">
                        <div id="chat-messages" class="card-content" v-html="chatContent">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="position: fixed; height: 50px; width: 100%;">
                <div class="input-field col s8">
                    <input type="text" v-model="newMsg" @keyup.enter="send">
                </div>
                <div class="input-field col s4">
                    <button class="waves-effect waves-light btn" @click="send">
                        <i class="material-icons right">chat</i>
                        Send
                    </button>
                </div>
            </div>
        </div>
        <div v-if="!okconnected">
            poshel nah
        </div>
    </main>
    <footer class="page-footer">
    </footer>

<script src="/js/lib/vue.min.js"></script>
<script src="/js/lib/emojione.min.js"></script>
<script src="/js/lib/jquery-2.1.1.min.js"></script>
<script src="/js/lib/md5.js"></script>
<script src="/js/lib/materialize.min.js"></script>
<script src="/js/lib/PageTitleNotification.js"></script>
<script src="/js/chat/chat.js"></script>
</body>
</html>
